body {
  color: #434455;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  width: 1440px;
  height: 3300px;
  padding: 15px;
}
header {
  background-color: white;
  border-bottom: 1px solid #e7e9fc;
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
}
/* navigation and address */
.site-link {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  align-items: center;
  flex-shrink: 0;
  margin-right: auto;
}
.studio {
  color: #2e2f42;
}

.nav-buttons {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-decoration: none;
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
  list-style-type: none;
}
.nav-link {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  text-decoration: none;
}
.nav-link:hover {
  color: var(--OCEAN, #404bbf);
}
.nav-link:focus {
  color: #404bbf;
}
.address {
  display: inline-flex;
  align-items: flex-end;
  font-style: normal;
}
.address-link {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.address-link:hover {
  color: var(--OCEAN, #404bbf);
}
.address-link:focus {
  color: #404bbf;
}

/* Section 1 with button */
.section-solutions {
  background-color: #2e2f42;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-solutions h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.button {
  display: inline;
  border-radius: 4px;
  background-color: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--WHITE, #fff);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.button:hover {
  background-color: #404bbf;
}
.button:focus {
  background-color: #404bbf;
}
/* Features */

.features {
  display: flex;
  gap: 24px;
}
.features li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.feature-type {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.feature-text {
  padding: 0;
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/* Our team */

.section-team {
  background-color: var(--CLOUD, #f4f4fd);
}
.our-team {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.team-card {
  background-color: #ffffff;
}

.team-member-name {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.team-member-role {
  color: var(--SLATE, #434455);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/* Portfolio */

.section-portfolio {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.app-name {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}
.app-type {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
.footer {
  background-color: #2e2f42;
}

.footer-text {
  color: var(--CLOUD, #f4f4fd);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
}
.studio-foot {
  color: #f4f4fd;
}
