body {
  color: #2e2f42;
  font-family: "Roboto", "Raleway", sans-serif;
  width: 1440px;
  height: 3300px;
}
header {
  background-color: white;
  border-bottom: 1px solid #e7e9fc;
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
}

.site-link {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  align-items: center;
  flex-shrink: 0;
  margin-right: auto;
}
.web {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.nav-buttons {
    color: var(--NAVY-BLUE, #2E2F42);
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.32px;
text-decoration: none;
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
  list-style-type: none;
}
.nav-buttons a {
  text-decoration: none;
}
.nav-buttons a:hover {
  color: var(--OCEAN, #404bbf);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.nav-buttons a:active{

}
.address {
  display: inline-flex;
  align-items: flex-end;
}
.address a{
    color: var(--SLATE, #434455);
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.32px;
}
.address a:hover{
    color: var(--OCEAN, #404BBF);
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.32px;
}
.sec1{
    width: 100%;
    height: 600px;
    background-color: #2E2F42;
    color: var(--WHITE, #FFF);
text-align: center;
font-family: Roboto;
font-size: 56px;
font-weight: 700;
line-height: 60px;
letter-spacing: 1.12px;
display: flex;
justify-content: center;
align-items: center;
}
.sec1 h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-left: 472px;
    margin-right: 472px;
    margin-top: 188px;
    width: 496px;
    height: 120px;
}
.sec1 button{
    padding: 32px 16px;
    margin: auto;
}